<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <h1>Create Task</h1>
    <form method="post" action="/tasks">
        <input name="newtask[Title]" placeholder="Enter your task title" type="text">
        <hr>
        <input name="newtask[Description]" placeholder="Enter your description" type="text">
        <hr>
        <input name="newtask[Priority]" placeholder="Enter your priority level" type="text">
        <hr>
        <button>Add Task</button>
    </form>
</body>
</html>